/* normalize */
ul { list-style-type: none; }
ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0}
a:link { text-decoration: none;}
div { margin: 0; padding: 0 }
p { margin: 0; padding: 0 }

/* html */
html {
    background: url('images/bg_plain.jpg')
}

body {
    margin: 0;
    padding: 0;
}

/* main layout */
#reporter {
    position: relative;
    margin: 0 auto; /* center in viewport */
    min-width: 1004px; /* fix page width */
    max-width: 1600px; /* fix page width */
    min-height: 748px; /* fix page width */
    letter-spacing: 0;
    word-spacing: 0;
    overflow: hidden;
}

/* arbitrary content styling */

/* content */
/* logo */
#hd {
    width: 100%;
    height: 123px;
}

/* content */
#bd {
    background: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}

/* title */
#bd_hd {
    position: relative;
    width: 100%;
    height: 30px;
    background: #007260;
    margin: 0 auto;
    padding: 0 10px;
}

#bd_hd p {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    color: white;
    padding-top: 5px;
}

#bd_bd h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18pt;
    text-align: center;
    color: black;
    padding-top: 5px;
}

/* content block */
#bd_bd {
    position: relative;
    width: 100%;
    overflow: auto;
}

.tabber {
    border: none;
}

.tabber ul {
    background: transparent;
    border-style: none none solid none;
}

.tabber ul li {
    margin: 0;
    pading: 0;
}

.tabber ul li a {
    font-family: Verdana, Arial, sans-serif;
}

#panel-0, #panel-1, #panel-2, #panel-3, #panel-4, #panel-5, #panel-6 {
    /* min-height: 500px; */
}

/* chart */
#chart-1, #chart-2, #chart-3, #chart-4, #chart-5, #chart-6, #cSrcIp, #cDstIp, #cVirusName, #cProtocol {
    margin:10px 10px 10px 10px;
    min-width: 800px;
    min-height:480px;
    overflow: hidden;
}

table {
    width: 100%;
    color: black;
}

label {
    color: black;
}

table caption {
    font-weight: bold;
    font-size: 105%;
    text-align: left;
}

table tr {
    height: 25px;
    padding: 1px;
}

table td.odd {
    background-color: #C0C0C0;
}

table tr.odd {
    background-color: #C0C0C0;
}

table td.even {
    background-color: #E8E8E8;
}

table tr.even {
    background-color: #E8E8E8;
}

table tr th, table tr td {
    position: relative;
    vertical-align: middle;
    text-align: center;
    word-break:break-all;
}

table tr th.px100 {
    width: 100px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #555555 url('images/ui-bg_highlight-hard_55_555555_1x100.png') 50% 50% repeat-x;
    color: white;
}

.noData {
    width: 250px;
    height: 40px;
    margin: 100px auto;
    background: #efefef;
    -mos-border-radius: 5px;
    border-radius: 5px;
    padding: 25px 0 0 25px;
}

/* pager */
.pager span.rows {
    color: white;
}

/* control */
#bd_ft {
    position: relative;
    width: 100%;
    height: 30px;
    background: #007260;
    margin: 0 auto;
    padding: 0 10px;
}

#pagerDiv {
    position: absolute;
    right: 60px;
}

#pagerDiv td {
    text-align: center;
    vertical-align: middle;
    width: 40px;
    padding: 5px;
}

#pagerDiv button {
    padding: 2px;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

button:disabled {
    opacity: 0.2;
}

button.Move2First span.ui-icon {
    background-position: -80px -160px;
}

button.Move2Prev span.ui-icon {
    background-position: -48px -160px;
}

button.Move2Next span.ui-icon {
    background-position: -32px -160px;
}

button.Move2Last span.ui-icon {
    background-position: -64px -160px;
}

button.ExportPDF span.ui-icon {
    background-position: -208px -128px;
}

/* copyright */
#ft {
    width: 100%;
    height: 20px;
}

#ft p {
    font-family: Verdana, Arial, sans-sefir;
    text-align: center;
    vertical-align: middle;
}

/* loading toggle */
.modals {
    display:    none;
    position:   fixed;
    z-index:    99999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 105, 105, 105, .5 )
                url('images/progress.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden  */
body.loadingClass {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loadingClass .modals {
    display: block;
}

