/* normalize */
ul { list-style-type: none; }
ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0}
a:link { text-decoration: none;}
div { margin: 0; padding: 0 }
p { margin: 0; padding: 0 }

/* html */
html {
    background: url('images/bg_plain.jpg')
}

body {
    margin: 0;
    padding: 0;
}

/* main layout */
#layout {
    position: relative;
    margin: 0 auto; /* center in viewport */
    min-width: 1004px; /* fix page width */
    max-width: 1600px; /* fix page width */
    min-height: 748px; /* fix page width */
    max-height: 1200px; /* fix page width */
    letter-spacing: 0;
    word-spacing: 0;
    background: url('images/bg_upper_06.png') top center no-repeat;
    overflow: hidden;
}

/* arbitrary content styling */

/* content */
/* logo */
#hd {
    width: 100%;
    height: 100px;
}

/* content */
#bd {
    width: 100%;
}

/* title */
#bd_hd {
    width: 100%;
    height: 30px;
    background: #E60523;
}

#bd_hd p {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

/* content block */
#bd_bd {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* control */
#bd_ft {
    width: 100%;
    height: 30px;
    background: #E60523;
}

/* copyright */
#ft {
    width: 100%;
    height: 20px;
}

#ft p {
    font-family: Verdana, Arial, sans-sefir;
    text-align: center;
}
