.productListCol1{
  width: 25%;
}

.productListCol2{
  width: 20%;
}

.productListCol3{ 
  width: 20%;
}

.productListCol4{
  width: 35%;
}

.serviceListCol1{
  width: 3%;
}

.serviceListCol2{
  width: 38%;
}

.serviceListCol3{
  width: 13%;
}

.serviceListCol4{
  width: 13%;
}

.serviceListCol5{
  width: 18%;
}

.serviceListCol6{
  width: 15%;
}

.serviceListCol7{
  width: 10%;
}
